body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    .markdown-embed > h2,
    .markdown-embed > h3,
    .markdown-embed > h4,
    .markdown-embed > h5,
    .markdown-embed > h6 {
        display: none;
    }

    /* Callouts */
    div[class*=callout-] {
        font-size: 1.5rem;
        .admonition-title, .admonition-title:before { font-size: 1.7rem; }
    }
    
    div.callout-garden {
         background-color: rgba(255, 200, 60, .2);
         .admonition-title::before { content: "🪴" }
    }
    div.callout-rmk {
         background-color: rgba(194, 42, 42, 0.2);
         .admonition-title::before { content: "⚠️" }
    }
    div.callout-ex {
         background-color: rgba(179, 165, 79, 0.2);
         .admonition-title::before { content: "📗" }
    }
    div.callout-meta { display: none; }

    div.content {
        padding-right: 90px;
        max-width: 900px;
        font-size: 1.5em;
    }
}

