@import url(https://fonts.googleapis.com/css?family=Merriweather);
body.theme-dark {--text-accent: hsl(169.74, 88.68%, 39.22%);}
body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    --content-font-size: 1.4rem;
    div.content {
        padding-right: 90px;
        max-width: 900px;
        font-size: var(--content-font-size);
    }

    div[class*=callout-], 
    .content {
        font-family: 'Merriweather', var(--font-default);
    }
    .sidebar {
        font-family: var(--font-default);
    }

    .markdown-embed > h2,
    .markdown-embed > h3,
    .markdown-embed > h4,
    .markdown-embed > h5,
    .markdown-embed > h6 {
        display: none;
    }

    /* Callouts */
    div[class*=callout-] {
        font-size: var(--content-font-size);
        .admonition-title, .admonition-title:before { 
            font-size: 1.5rem; 
            font-weight: 800;
        }
    }
    
    div.callout-garden {
         background-color: rgba(255, 200, 60, .2);
         .admonition-title { color: rgb(255, 200, 60); }
         .admonition-title::before { content: "🪴" }
    }
    div.callout-rmk {
         background-color: rgba(255, 36, 76, 0.2);
         .admonition-title { color: rgb(255, 36, 76); }
         .admonition-title::before { content: "⚠️" }
    }
    div.callout-ex {
         background-color: rgba(79, 179, 87, 0.2);
         .admonition-title { color: rgb(79, 179, 87); }
         .admonition-title::before { content: "📗" }
    }
    div.callout-tip {
         background-color: rgba(0, 184, 212, 0.2);
         .admonition-title { color: rgb(0, 184, 212); }
         .admonition-title::before { content: "💡" }
    }

    div.callout-meta { display: none; }

    div.content center > blockquote {
        margin-left: 0;
        margin-inline-start: 0;
        padding-left: 0;
    }

    /* Logo */
    div.logo,
    div.logo::hover {
        background-size: cover;
        width: 250px;
        height: 250px;
        border: none;
        box-shadow: none;
    }
    div.logo {
        background: url('https://raw.githubusercontent.com/zcysxy/edav-garden/main/src/site/favicon.svg');
    }
    div.logo::hover {
        background: url('https://raw.githubusercontent.com/zcysxy/edav-garden/main/rainbow-logo.svg');
    }
}

