body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    @import url(https://fonts.googleapis.com/css?family=Merriweather);

    div[class*=callout-], 
    .content {
        font-family: 'Merriweather', var(--font-default);
    }
    .sidebar {
        font-family: var(--font-default);
    }

    .markdown-embed > h2,
    .markdown-embed > h3,
    .markdown-embed > h4,
    .markdown-embed > h5,
    .markdown-embed > h6 {
        display: none;
    }

    /* Callouts */
    div[class*=callout-] {
        font-size: 1.5rem;
        .admonition-title, .admonition-title:before { 
            font-size: 1.7rem; 
            font-weight: 800;
        }
    }
    
    div.callout-garden {
         background-color: rgba(255, 200, 60, .2);
         .admonition-title { color: rgb(255, 200, 60); }
         .admonition-title::before { content: "🪴" }
    }
    div.callout-rmk {
         background-color: rgba(255, 36, 76, 0.2);
         .admonition-title { color: rgb(255, 36, 76); }
         .admonition-title::before { content: "⚠️" }
    }
    div.callout-ex {
         background-color: rgba(179, 165, 79, 0.2);
         .admonition-title { color: rgb(179, 165, 79); }
         .admonition-title::before { content: "📗" }
    }
    div.callout-meta { display: none; }

    div.content {
        padding-right: 90px;
        max-width: 900px;
        font-size: 1.5em;
    }
}

